.link{
  color: map-get($colors, 'white-2');
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;

  &:hover {
    color: map-get($colors, 'white-2');
  }



  &--active {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: map-get($colors, 'white-1');
    color: map-get($colors, 'black');

    &:hover {
      color: map-get($colors, 'black');
    }
  }
}