.link{
  color: map-get($colors, 'white-2');
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;

  &:hover {
    color: map-get($colors, 'white-2');
  }



  &--active {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: map-get($colors, 'white-1');
    color: map-get($colors, 'black');

    &:hover {
      color: map-get($colors, 'black');
    }
  }


  @include media-breakpoint-down(md) {
    border-radius: 0;
    font-size: map-get($font-sizes, 8);
    color: map-get($colors, 'gray');
    &--active {
      border-radius: 0;
      background-color: transparent;
      color: map-get($colors, 'white-3');
    }
  }
}