$colors: (
  'black': #000,
  'white': #fff,
  'white-1': #EFEFEF,
  'white-2': #ffffff66,
  'green': green,
);

$font-sizes: (
  0: 0.5rem,
  1: 0.625rem,
  // 10px
  2: 0.75rem,
  // 12px
  3: 0.875rem,
  // 14px
  4: 1rem,
  5: 1.25rem,
  // 20px
  6: 1.5rem,
  // 24px
  7: 2rem,
  // 32px
  8: 2.5rem
);

$font-weights: (
  '400': 400,
  '500': 500,
  '600': 600,
  '700': 700,
  '800': 800,
  'bold': bold,
);
