@import './vars';
@import './bootstrap';
@import './utilities';


html,
body {
  font-size: 16px;
  height: 100%;
  font-family: $font-family-base;
  background-color: map-get($colors, 'white-1');
  box-sizing: border-box;
  width: 100%;
}

#__next {
  height: 100%;
}


.cursor-pointer {
  cursor: pointer;
}

.btn-success {
  background-color: map-get($colors, 'green');
  border-color: transparent;
}